

<div class="container-fluid">
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
    <h2 class="form-heading">Sign up</h2>
        
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-success center-block" %>
        </div>
      <% end %>

      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

