

<div class="col-md-6 col-md-offset-3">
  <h1 class="form-heading">Add A New Dog</h1>
    <div class="form-inputs">

      <%= simple_form_for @dog do |f| %>
    
        <div class="errors">
          <% if @dog.errors.any? %>
            <h2>There are <%= pluralize(@dog.errors.count, "error") %></h2>
              <ul>
                <% @dog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
          <% end %>
        </div> 

      <%= f.input :animal_id, label: 'Animal ID' %>
      <%= f.input :name %>
      <%= f.input :status, collection: Dog::STATUS_CHOICE, label: 'Status' %>
      <%= f.input :gender, collection: Dog::GENDER_CHOICE, label: 'Gender' %>
      <%= f.input :weight, as: :integer %> 
      <%= f.input :age, collection: Dog::AGE_CHOICE, label: 'Age' %> 
      <%= f.input :breed_type, as: :radio_buttons, collection: Dog::BREED_TYPE_CHOICE, label: 'Breed Type' %>
      <%= f.input :breed_one, collection: Dog::BREED_CHOICE, label: 'Breed One' %> 
      <%= f.input :breed_two, collection: Dog::BREED_CHOICE, label: 'Breed Two' %>          
      <%= f.input :cat_compatible, collection: Dog::CAT_CHOICE, label: 'Cat Compatibility' %> 
      <%= f.input :dog_compatible, collection: Dog::DOG_CHOICE, label: 'Dog Compatibility' %>
      <%= f.input :human_compatible, collection: Dog::HUMAN_CHOICE, label: 'Human Compatibility' %>
      <%= f.input :energy_level, collection: Dog::ENERGY_CHOICE, label: 'Energy Level' %> 
      <%= f.input :temperament, collection: Dog::TEMPERAMENT_CHOICE, label: 'Temperament' %> 
      <%= f.input :fee, as: :integer  %>
      <%= f.text_area :description, label: 'Description', rows: 8, class: "info-box", placeholder: 'Additional information.' %>
      <p>
        <%= image_tag(@dog.image_url) %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </p>
      <p>
        <%= f.label :remote_image_url, "or image URL" %>
        <%= f.text_field :remote_image_url %>
      </p>
      <%= f.submit "Submit", class: 'btn btn-success center-block' %>
    <% end %>
    </div>
</div>





