

<div class="container-fluid">  
  <div class="row space">
    <div class="col-lg-12">
      <h2 class="heading">Our Adoption Process</h2>
      <hr>
        <p>The rescue will not deviate nor make exceptions from this adoption process. This ensures that we pair dogs that are compatible with your family's lifestyle and household environment. We do not use the first-come, first-serve method in selecting potential adopters. We only do private, in-home adoptions around the Detroit area. We do not ship dogs to other states.</p> 
        <p>Our adoption process consists of the following steps.</p>
          <ol>
  	        <li>Adoption application</li>
  	        <li>Phone interview</li>
  	        <li>Meet-and-greet</li>
  	        <li>Reference checks</li>
  	        <li>Home visit</li>
  	        <li>Adoption agreement</li>
          </ol>
          <p>All of our dogs have received the following.</p>
  	        <ul>
  	          <li>Spay/neuter surgery</li>
  	          <li>Full vaccinations</li>
  	          <li>Heartworm test (treated if positive, on preventatives if negative)</li>
              <li>Flea preventative</li>
  	          <li>Microchip</li>
  	        </ul>
  	      <p>The adoption fees vary with each dog, and are based on the the dog's age, medical expenses, and transportation costs.</p>
          <p><span class><%= link_to "Contact Us", new_contact_path %></span> if you have questions, or would like more information about our dogs.</p>
          <P><%= link_to "Online Foster Application", "https://forms.zohopublic.com/compassdogrescue/form/FosterApplication/formperma/6_63EM03g1e3_33A51KCm6656", target: :_blank %></p>
          <p><%= link_to "Online Adoption Application", "https://forms.zohopublic.com/compassdogrescue/form/AdoptionApplication/formperma/244ad41M4CJ4534g_B_F2A4A6", target: :_blank %></p>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row space -->
</div><!-- /.container -->