

<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading">Happy Tails</h1>
        <p class="heading-description">Congratulations to these dogs and their new families. We wish everyone many years of joy and happiness. Thank you for choosing to adopt!</p>
    </div>
  </div>  

  <!-- 3 columns per row -->
  <% @dogs.each_slice(3) do |dogs| %>
    <div class="row"> 
      <% dogs.each do |dog| %> 
         <div class="col-md-4 dog-profile">
          <p><%= image_tag dog.image_url(:thumb), class: "img-responsive img-adoptable center-block" %><p>
          <h3 class="dog-title"><strong>Animal ID:</strong> <%= dog.animal_id %> | <strong>Name:</strong> <%= dog.name %></h3> 
          <p class="dog-description"><%= dog.description %></p>
        </div> 
      <% end %>
    </div><!-- /.row space -->
  <% end %>
  <div class="digg_pagination">
    <%= paginate @dogs %>
  </div>
</div><!-- /.container -->


