

<div class="container-fluid">
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading">Pending Adoption</h1>
      <p class="heading-description">No further applications will be accepted for the following dogs. We are working on reviewing potential adopters. We will make our Happy Tails announcement soon.</p>
    </div>
  </div>   

  <!-- 3 columns per row -->
  <% @dogs.each_slice(3) do |dogs| %>
    <div class="row"> 
      <% dogs.each do |dog| %> 
         <div class="col-md-4 dog-profile">
          <p><%= image_tag dog.image_url(:thumb), class: "img-responsive img-adoptable center-block" %><p>
          <h3 class="dog-title"><strong>Animal ID:</strong> <%= dog.animal_id %> | <strong>Name:</strong> <%= dog.name %></h3>
            <ul>
              <li class="dog-traits"><strong>Gender:</strong> <%= dog.gender %></li>
              <li class="dog-traits"><strong>Weight:</strong> <%= dog.weight %> lbs</li>
              <li class="dog-traits"><strong>Age:</strong> <%= dog.age %></li>
              <li class="dog-traits"><strong>Breed Type:</strong> <%= dog.breed_type %></li>
              <li class="dog-traits"><strong>Primary Breed:</strong> <%= dog.breed_one %></li>
              <li class="dog-traits"><strong>Secondary Breed:</strong> <%= dog.breed_two %></li>
              <li class="dog-traits"><strong>Cat Compatibility:</strong> <%= dog.cat_compatible %></li>
              <li class="dog-traits"><strong>Dog Compatibility:</strong> <%= dog.dog_compatible %></li>
              <li class="dog-traits"><strong>Human Compatibility:</strong> <%= dog.human_compatible %></li>
              <li class="dog-traits"><strong>Energy Level:</strong> <%= dog.energy_level %></li>
              <li class="dog-traits"><strong>Temperament:</strong> <%= dog.temperament %></li>
            </ul>  
          <p class="dog-description"><%= dog.description %></p>
        </div><!-- /.col-md-4 dog-profile-->  
      <% end %>
    </div><!-- /.row space -->
  <% end %>
  <!-- Display 12 dogs per pg -->
  <div class="digg_pagination">
    <%= paginate @dogs %>
  </div>
</div><!-- /.container -->

