

<div class="container-fluid">
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
    <h2 class="form-heading">Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "btn btn-success center-block" %>
        </div>
      <% end %>

      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>