

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("map_smoke.jpg", class: "center-block slide_1", alt: "First slide") %>
        <div class="container">
          <div class="carousel-caption">
            
          </div>
        </div>
    </div>
    <div class="item">
      <%= image_tag("belin_smoke.jpg", class: "center-block slide", alt: "Second slide") %>
        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
    </div>
      <div class="item">
        <img class="third-slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Adoption Event!</h1>
              <h2>Beaches Pet Resort</h2>
              <p>Jan. 14th, 12pm-2pm</p>
              <p><%= button_to "Learn more", welcome_events_path, class: 'btn btn-lg btn-primary' %></p>
            </div>
          </div>
      </div>
  </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->