<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("logo_04.png", class: "navbar-brand", alt: "Compass Logo"), root_path) %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path, class: "navlink" %></li>
        <li><%= link_to "About", welcome_about_path, class: "navlink" %></li>
        <li><%= link_to "Events", welcome_events_path, class: "navlink" %></li>
        <li><%= link_to "Ways To Help", welcome_help_path, class: "navlink" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Dogs<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Our Dogs Journey", welcome_journey_path, class: "navlink-inverse" %></li>
              <li><%= link_to "Foster Dogs", foster_path, class: "navlink-inverse" %></li>
              <li><%= link_to "Adoptable Dogs", michigan_path, class: "navlink-inverse" %></li>
              <li><%= link_to "Pending Adoption", pending_path, class: "navlink-inverse" %></li>
              <li><%= link_to "Happy Tails", homed_path, class: "navlink-inverse" %></li>
            </ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Applications<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%#= link_to "Volunteer Application", root_path, class: "navlink-inverse" %></li>
                  <li><%#= link_to "Foster Application", root_path, class: "navlink-inverse" %></li>
                  <li><%= link_to "Adoption Application", adoption_path, class: "navlink-inverse" %></li>
                </ul>
            </li>
          <li><%= link_to "Contact Us", new_contact_path, class: "navlink" %></li>
          <li><%= link_to "Log In", new_user_session_path, class: "navlink" %></li>
        </li>
      </ul><!-- nav navbar-nav -->
    </div><!--/.nav-collapse -->
  </div>
</nav>