
<div class="container-fluid">
  <div class="row first">
    <div class="col-lg-12">
      <h2 class="heading">About Us</h2>
      <hr class="horz-short">
    </div>
  </div>

  <!-- 1st About Us description -->
  <div class="row">
    <div class="col-md-8">  
      <p>Compass Dog Rescue is dedicated to rescuing dogs from high kill shelters, specifically in the south, and guiding them North (hence the name - "Compass"). We do not have a facility, but work out of our homes. Dogs are kept in foster care until qualified, loving, forever homes can be found.</p>
      <p>Compass tends to rescue dogs that are best suited for the northern climate. These breeds are generally long haired, shepherd purebreeds and mixes. However, we also accept other breeds, giving emphasis to personality. Our network continues to grow in the south Texas area, and we are not limited to assisting any specific city or town. </p>  
    </div>
    <div class="col-md-4 about">
      <%= image_tag("foster_dog.jpg", class: "img-responsive med pull-right", alt: "Foster and dog") %>
    </div> 
  </div>

  <!-- 2nd Foster Dog description -->
  <div class="row">
    <div class="col-lg-12">
      <hr class="horz-short">
        <h2 class="heading">Foster Dogs</h2>
      <hr class="horz-short">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 about">
      <%= image_tag("naomi.jpg", class: "img-responsive med pull-left", alt: "Naomi") %> 
    </div>
    <div class="col-md-8">
      <p>Our <strong>foster dogs</strong> are located out of state, awaiting transportation up north. Although most live in a home environment with their foster family for a few weeks, we have a few dogs in boarding due to a shortage of foster parents. We try not to rely on boarding, since we feel our dogs do better in a home life than at a boarding kennel.</p>
      <p>Texas foster parents work together to transport dogs to doctor's appointments, provide information on training, and share other resources. They have different levels of experience fostering dogs over several years.</p>
      <p>If you are interested in a dog, you can begin the process early, by submitting an applicataon while the dogs are still in foster care. No final decision will be made, until after the dogs arrive in Michigan. Please visit our Foster Dogs page to view dogs in our organization.</p> 
      <p><%= button_to "Foster Dogs", foster_path, class: 'btn btn-more center-block' %></p>
    </div>
  </div> 

  <!-- 3rd Adoptable Dog description -->
  <div class="row">
    <div class="col-lg-12">
      <hr class="horz-short">
        <h2 class="heading">Adoptable Dogs</h2>
      <hr class="horz-short">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p><strong>Our adoptable dogs</strong> are already here in Michigan looking for their forever homes. Once they arrive from transport, they live with their foster family until they are adopted. This gives the dogs time to rest from their travels and acclimate to the northern environment. We also feel they benefit by continung to live with families in a home environment.</p>
      <p>In most cases, the timeframe before placement is short, since our dogs have been marketed for several weeks. If you are interested in becoming a foster for these dogs, please submit an application. The more foster parents we have, the more dogs we can save.</p> 
      <p><%= button_to "Adoptable Dogs", michigan_path, class: 'btn btn-more center-block' %></p>
    </div>
    <div class="col-md-4 about">
      <%= image_tag("shadow_1.jpg", class: "img-responsive med pull-right", alt: "Shadow") %> 
    </div>
  </div>   
</div><!-- /.container-fluid -->
