
<div class="container-fluid">
  <!-- 1st Adoption Events description -->
  <div class="row">
    <div class="col-md-8">
      <h3 class="heading">Adoption Events</h3> 
      <p>Volunteers are needed to assist the foster parents and their dogs with setting up crates, walking and playing with dogs, and of course cleanup. Dress comfortably, bring a folding chair, and be prepared to have some fun. If you are at least 18 years old, and have an hour or more to spare, we would love to have you.</p> 
      <p>If you would like to drop-off donated items to our events, please contact us in advance to make arrangements. You can visit our <%= link_to "Ways To Help", welcome_help_path %> page for a list of needed items.</p>
      <p>We are grateful for the support and use of Beaches Pet Resort. Visit their websit and follow them on Facebook to learn more about their business.</p>  
    </div>
    <div class="col-md-4 about">
      <div class="special">
        <%= link_to image_tag("beaches.png", class: "img-responsive center-block"), "http://www.beachespetresort.biz/", alt: "Beaches Website", target: "_blank" %>
        <p>Beaches Pet Resort and Training Center</br> 
           29335 Harper Ave</br>
           St. Clair Shores, MI 48081</br>
        </p>
        <p><%= link_to image_tag("FB-f-Logo__blue_50.png", class: "img-responsive center-block"), "https://www.facebook.com/Beaches-Pet-Resort-Training-Center-459928417482107/", alt: "Facebook link", target: "_blank" %>
        </p>
      </div><!-- /.special --> 
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->


</div><!-- /.container-fluid -->
        

         