
<div class="container-fluid">
  <!-- 1st Donations description -->
  <div class="row">
    <div class="col-md-8">
      <h3 class="heading">Donate</h3>
      <p>We are in need of the following items for our rescue. Donations can be dropped off at our adoption events, or arrangements can be made for another time and location. However, please contact Compass Dog Rescue in advance for scheduling.</p>
      <p>Dog and puppy food is especially needed. Many of these dogs arrive to us under weight and malnourished. They need to consume more calories to improve their immune system, help with medical conditions and overall health.</p>
      <ul>
        <li>Dog and puppy food</li>
        <li>Collars and leashes (all sizes)</li>
        <li>Dog snacks</li>
        <li>Towels, sheets, blankets, dog beds (new and used)</li>
        <li>Paper towels, cleaning supplies</li>
        <li>Dog coats and jackets (new and used)</li>
        <li>Dog crates (new or used)</li>
      </ul>
      <p>You can also visit our <%= link_to "Amazon Wish List", "https://www.amazon.com/gp/registry/wishlist/36EKRNR2SQGCA/ref=cm_sw_su_w", alt: "Amazon Link", target: "_blank" %> page to view a list of needed items and make a purchase.</p>
      <p>We also welcome monetary donations. You can mail a check or donate via PayPal.</p>
    </div><!-- /.col-md-8 -->
    <div class="col-md-4">
      <div class="special">
        <p>Compass Dog Rescue</br> 
           123 Street</br>
           City, MI 12345</br>
        </p>
        <h3>Donate via PayPal</h3>
          <%= render 'dogs/paypal' %>
      </div><!-- /.special -->
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

  <!-- 2nd Volunteer description -->
  <div class="row">
    <div class="col-md-8">
      <h3 class="heading">Volunteer</h3>
      <p>There are many ways you can help our rescue. Below are some of the areas we need assistance, but we are open to all ideas. You can always contact us with your suggestions.</p>
      <p>If you are interested in fostering in Texas or Michigan, please fill out an application. Foster parents are provided with crates, food, heartworm and flea preventative. We even cover the costs of medical expenses. You can also volunteer to transport dogs to their doctor's appointments or to another foster.</p>
      <ul>
        <li>Fostering (see below)</li>
        <li>Fundraising</li>
        <li>Grant writing</li>
        <li>Dog training</li>
        <li>Dog walking</li>
        <li>Transport dogs to adoption events, doctor's appointments, etc.</li>
        <li>Sharing our information on social media</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="special">
        <span class="glyphicon glyphicon-heart"></span>
      </div>
    </div>
  </div>

  <!-- 3rd Foster Parents description --> 
  <div class="row">
    <div class="col-md-8">
      <h3 class="heading">Foster</h3>
      <p>Foster parents are provided with all the necessities they need to provide care for a foster dog. Crate, food, leashes, and collars and the dog's medical record are assigned with each dog. If additional assistance is needed for transportation, training, we post the request for assistance on our Facebook page. Our community of foster parents have always worked together, and provide great support.</p>
      <p>Foster parents also save the rescue funds, by reducing the number of dogs we have in boarding. We also find that dogs thrive in a home versus a kennel environment.</p>
    </div>
    <div class="col-md-4">
      <div class="special">
      <%= image_tag("charlie.jpg", class: "img-responsive med pull-right", alt: "Foster and Charlie") %>
      </div>
    </div>
  </div>

  <!-- 4th Sponsor description --> 
  <div class="row">
    <div class="col-md-8">
      <h3 class="heading">Sponsor</h3>
      <p>Our past events have included a t-shirt sale, Tupperware, Pampered Chef, and LuLu Roe Facebook events. These virtual parties have been great opportunities for you members to learn and share you business. If you have a company that would like to plan a virtual party, we'd love to hear about it.</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div><!-- /.container-fluid -->


