<!-- Styling supported by Welcome.scss -->

<!-- Journey Page Content -->
<div class="container-fluid about">

  <div class="row short">
    <div class="col-lg-12">
        <h2 class="heading">Our Dogs Journey</h2>
      <hr class="horz-short">
    </div>
  </div>


  <!-- 1st Street Strays description-->
  <div class="row first">
    <div class="col-md-8">
      <h3>South Texas Strays</h3>
      <p>South Texas has a high stray and loose pet population. It's not uncommon to see dogs roaming the streets in certain areas of town. These dogs are usually various mixed breeds in poor health with bad nutrition. However, they have the best personalities and make wonderful family pets as you can see in our <i>Happy Tails</i> page.</p>   
      <p>We work with foster parents in several cities such as Laredo, Bastrop, New Braunfels, and San Antonio to rescue dogs from their city's shelter. We are not limited to these cities, and are willing to expand our network to other areas, as long as foster parents are available.</p>
      <p>However, most of our dogs are pulled from the San Antonio city shelter called Animal Care as this is the largest city we have foster parents. We are always looking for more volunteers.</p> 
    </div>
    <div class="col-md-4">
      <%= image_tag("street_strays.jpg", class: "img-responsive med pull-right",  alt: "Two Stray Dogs") %>
    </div>
  </div>

  <!-- 2nd ACS description -->
  <div class="row">  
    <div class="col-md-8">
      <h3>Animal Care Services (ACS)</h3>
      <p>ACS is the city of San Antonio's facility for animal intake. Strays are usually obtained off the streets or confiscated by animal control officers and transported to ACS. The dogs are checked for a microchip, given vaccinations, a physical assessment, and have their picture taken before being posted on the ACS Website.</p>
      <p>Every attempt is made to locate the owners. However, if they are not claimed, then the dogs are marketed for adoption or to other rescue partners. Dogs have 72 hours from the time they are accepted into ACS to find placement.  
      </p>
      <%= link_to image_tag("acs_logo.png", class: "img-responsive center-block logo"), "http://www.sanantonio.gov/Animal-Care/Home/", alt: "ACS Logo", target: "_blank" %> 
    </div>   
    <div class="col-md-4">
       <%= image_tag("acs.jpg", class: "img-responsive med pull-right",  alt: "ACS Building") %>
    </div>
  </div>

  <!-- 3rd SAPA description -->
  <div class="row">
    <div class="col-md-8">
      <h3>San Antonio Pets Alive (SAPA)</h3>
       <p>One local rescue called SAPA leases <i>Building 1</i> on the ACS grounds, and they act as a liaison between ACS and other rescue partners seeking to pull dogs. Compass communicates with SAPA to obtain a temperament test, a behavioral assessment, additional pictures and any other information about the dogs.</p> 
      <p>SAPA only pulls dogs from the euthanized by injection (EBI) list. So the dogs you adopt, were on their last day. Once Compass selects dogs into our program, we contact SAPA to schedule the sterilization surgery and arrange a pickup time. We also make arrangements to assign a foster parent.</p> 
      <%= link_to image_tag("sapa_logo.jpg", class: "img-responsive center-block logo"), "http://www.sanantoniopetsalive.org/", alt: "SAPA Logo", target: "_blank" %>  
    </div>
    <div class="col-md-4">
      <%= image_tag("bldg_1.jpg", class: "img-responsive med pull-right ",  alt: "SAPA Building One") %>
    </div>
  </div>

  <!-- 4th Freedom Ride description -->
  <div class="row">
    <div class="col-md-8">
      <h3>Freedom Ride!</h3>
      <p>Our dogs leave the SAPA facility on the day of their surgery in the afternoon. This day is known in the rescue world as the <i>Freedom Ride!</i> It marks the beginning of a dog's journey to their forever home. The assigned foster parent takes a picture of their dog loaded in their vehicle, ready to go home. These dogs are now Compass Dogs! From this day foward, we work on marketing and preparing the dogs for their trip up north.</p>                
    </div>
    <div class="col-md-4">
      <%= image_tag("boy.jpg", class: "img-responsive sm pull-right",  alt: "Boy") %> 
    </div>   
  </div>

  <!-- 5th Foster Home Life description -->
  <div class="row">
    <div class="col-md-8">
      <h3>Foster Home Life</h3>
      <p>Compass dogs stay with their Texas foster parent until transportation up north is arranged. These dogs are treated as members of the family, learning social skills, enjoying home life and just being a dog.</p>
      <p>Since our dogs live at home with children, other dogs, and cats, The foster parent can provide information on the dog's personality and behaviors. During this time, the foster parent will take pictures and create a biography of their dog that is posted on our Website.</p>
    </div>
    <div class="col-md-4">
     <%= image_tag("calm.jpg", class: "img-responsive sm pull-right",  alt: "Dog on Bed") %>
    </div> 
  </div>

  <!-- 6th Transportation Day description -->
  <div class="row">
    <div class="col-md-8"> 
      <h3>Transport Day!</h3> 
      <p>When foster parents receive their dog's transporation date, the foster parent is responsible for obtaining a health certificate from a licensed veterinarian. The parents send their dogs off with their medical record, packed food, snacks, and other items their foster will need for the trip.</p>
        <p>Fosters meet with transporters early Saturday morning to drop off their dogs for the trip up north. Our dogs will spend the next 3 days on their road trip. Saturday and Sunday night, the Compass dogs stay at a volunteer's house for a sleepover.</p> 
        <p>We primarily rely on volunteer organizations Kindred Hearts Transporation Rescue (KHTC), and The Liberty Train and Rescue (LTR) to transport our dogs. The volunteers of these groups give a few hours of their time during the weekend, and the use of their vehicles to move these dogs up north. </p>    
    </div>
    <div class="col-md-4"> 
      <%= image_tag("transport.jpg", class: "img-responsive med pull-right ",  alt: "Dewey, Madison, Skittles") %>
    </div>
  </div>
  
  <!-- KHTC and Liberty Train logos -->
  <div class="row">
    <div class="col-sm-4">
      <%= link_to image_tag("khtc_logo.jpg", class: "img-responsive center-block logo"), "http://www.kindredheartstransportconnection.org/", alt: "KHTC Logo", target: "_blank" %>
      <h4 class="transport">KHTR</h4>
      <p class="transport">Kindred Hearts Transportation and Rescue</p>
    </div>
    <div class="col-sm-4">
      <%= link_to image_tag("train_logo.jpg", class: "img-responsive center-block logo"), "https://www.facebook.com/TheLibertyTrainandRescue/", alt: "LTR Logo", target: "_blank" %>
      <h4 class="transport">LTR</h4>
      <p class="transport">The Liberty Train and Rescue</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("cliff_clyde.png", class: "img-responsive sm pull-right ",  alt: "Jack, Hilda, Snoops") %>
    </div>
  </div>
 
  <!-- 7th On The Road description --> 
  <div class="row">
    <div class="col-md-8">
      <h3>On The Road</h3> 
      <p>From the moment the transport begins, everyone involved in this process such as the foster parents and transporters, are kept informed of the roadtrip with hourly updates. Our dogs receive the best care during their trip with plenty of breaks and treats during their travel. The transporters ensure the dogs sit where they are comfortable and feel safe.</p> 
      <p>Puppies are crated, but small dogs may be crated or sit in the front seat to prevent them from bring stepped on by larger dogs. No more than 3 adult dogs are transported at a time. For dogs not crated, blankets and pillows are spread throughout the interior and the dogs are leashed to prevent them from possibly escaping when doors are opened. And of course, more pictures are taken.</p>    
    </div>
    <div class="col-md-4"> 
      <%= image_tag("road_trip.jpg", class: "img-responsive med pull-right ",  alt: "Rob") %>
    </div>
  </div>
  

  <!-- 8th Slumber Party description -->    
  <div class="row">
    <div class="col-md-8">
      <h3>Slumber Pawty!</h3>
      <p>Our dogs spend Saturday and Sunday night at a volunteer's home called a <i>Slumber Pawty</i>. The dogs are walked, fed, and pampered after a long day's ride. They have no problems making themselves at home, and they have the run of the house. The foster parents spare no expense treating the dogs as their own, and making them feel comfortable. Our dogs leave again early the next morning.</p>   
    </div>
    <div class="col-md-4"> 
      <%= image_tag("pawty.jpg", class: "img-responsive med pull-right ",  alt: "Pawty Collage") %>  
    </div>         
  </div>
   
  <!-- 9th Michigan Arrival description -->
  <div class="row">
    <div class="col-md-8">
      <h3>Michigan At Last!</h3>
      <p>After 3 days of travel, our dogs finally arrive in Michigan, where they are received by their Michigan foster parents. The dogs will spend the remainder of their time acclimating to the new environment while applications are reviewed and meet-and-greets arranged.</p> 
      <p>While we may never know how our dogs came to be on the streets, or how long, we know their journey leads them to loving, forever homes. It's through the network of many volunteers, these dogs arrive at a new beginning toward a happy life.</p>
      <p id="reese">Because every dog deserves this.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("home.jpg", class: "img-responsive med pull-right ",  alt: "Reese By Water") %> 
    </div>
  </div>

</div><!-- /.container-fluid -->



