

<div class="container-fluid">
  <div class="lead">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="heading">Email Inquiry List</h1>
          <% @contacts.each do |contact| %>
          <ul>
            <li class="dog-traits"><strong>First Name:</strong> <%= contact.first_name %></li>
            <li class="dog-traits"><strong>Last Name:</strong> <%= contact.last_name %></li>
            <li class="dog-traits"><strong>Email:</strong> <%= contact.email %></li>
            <li class="dog-traits"><strong>Subject:</strong> <%= contact.subject %></li>
            <li class="dog-traits"><strong>Description:</strong> <%= contact.description %></li>
          </ul>
          <%= link_to "Delete", @contact, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

