

<div class="container-fluid bg">
  <div class="lead">
    <div class="row">
      <div class="col-md-3">
        <p class="contact-info">We also post information on our community Facebook page. You can also ask questions, and our volunteers will be happy to answer you. </p>
        <p><%= link_to image_tag("FB-f-Logo__blue_50.png", class: "img-responsive center-block"), "https://www.facebook.com/compassdogrescue", alt: "FB Community Page", target: "_blank" %></p>
      </div>
      <div class="col-md-6">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="heading">Contact Us</h1>
            </div>
   
            <%= simple_form_for @contact, validate: true do |f| %>

            <div class="errors">
              <% if @contact.errors.any? %>
                <h2>There are <%= pluralize(@contact.errors.count, "error") %></h2>
                  <ul>
                    <% @contact.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  </ul>
              <% end %>
            </div>
            <div class="panel-body">
              <%= f.input :first_name, autofocus: true %>
              <%= f.input :last_name %>
              <%= f.input :email %>
              <%= f.input :subject %>
              <%= f.text_area :description, label: 'Description', rows: 8, class: "info-box" %>
              <%= f.submit "Submit", class: 'btn btn-success center-block' %>
             <% end %> 
            </div><!-- /.panel body --> 
          </div>
        </div>
      </div><!-- /.col-md-6 col-md-offset-3 -->
      <div class="col-md-3">
        <p class="contact-info">Additional content.</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.lead -->
</div><!-- /.container-fluid -->




