<div class="container-fluid">
  <div class="lead">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 confirm">
        <h1 class="heading">Request Received</h1>
        <p>Thank you, we have received your request and you should have received a confirmation email. One of our volunteers will respond within 24 hours.</p>  
        <p class="heading"><%= link_to "Return to Contact Us Form", new_contact_path %></p>
      </div>
    </div>
  </div>
</div>

