@import "variables.scss";
@import "mixins.scss";
@import "global.scss";



.panel-group {
  margin-top: 50px;
}

.panel.panel-default {
  border-color: $medblue !important; 
  border-width: 2px;
}

.panel-heading {
  background-color: $medblue !important;
  color: $white !important; 
}

/* Center align additional info on outside columns */
.contact-info {
	margin-top: 50px;
	text-align: center;
}




