@import "variables.scss";
@import "mixins.scss";


/* Move down content from fixed navbar */
/* Add space between content and footer */
body {
  padding-top: 40px; 
}

/* Increase txt size */
p {
  @include leadpara;
}

/* Apply paragraph styling to lists */
ul, ol {
  @include leadpara;
}

/* Center headings */
/* Add more space between nav and title, and bottom row and next section */
.heading {
  @include headingpara;
}

/* Center content within body */
.container-fluid {
  padding-top: 30px !important;
  padding-left: 65px !important;
  padding-right: 65px !important;
}

/* Footer, chg bg */
/* Add more space between content and footer */
.container-fluid.bg-blue {
  @include bgblue;   
}

/* Footer btn */
.btn.btn-footer {
  @include btnwhite;
}

/* Imgs centered */
.img-responsive.img-square.center-block {
  @include medpics;
}

/* CUSOTMIZE FORMS */
/* Set column and text to center of pg */
.col-md-6.col-md-offset-3 {
  padding-bottom: 100px;
}

/* Center headings, style and increase font size */
.form-heading {
  @include headingpara;
}

/* Size text to be largoer on forms fields */
.form-inputs {
  @include leadpara;
}

/* All Submit buttons */
.btn.btn-success.center-block {
  @include btngreen;
}

/* Chg font size, center align, move lower with added padding */
.form-links {
  text-align: center;
  @include leadpara;
  padding-top: 20px;
}

/* Set color for error messages on all forms fields */
.errors {
  @include colorerrors;
}
/* END FORMS STYLING */




