@import "variables.scss";
@import "mixins.scss";
@import "global.scss";

/* SHOW PG */
/* Lower heading */
.heading.member {
  margin-top: 100px;
}

/* Add more space, move links up on pg */
.row.confirm {
  padding-bottom: 200px;
}