@import "variables";


/* NAV */
@mixin navtextcolor {
  color: $darkblue !important;
  font-size: 20px;
  font-family: $fontmain;
  &:hover {
    color: $white !important;
    background-color: $darkblue !important;
  }
}

/* CUSTOMIZE PARAGRAPHS */
/* Style for landing pg */
@mixin leadpara {
	line-height: 1.4;
	font-size: 21px;
	font-weight: 300;
	font-family: $fontmain;
}

/* Heading titles for sections */
@mixin headingpara {
	font-family: $fontmain;
	font-size: h1;
	font-weight: bold;
	text-align: center;
  padding-top: 15px;
}

/* CUSTOMIZE IMGS */
@mixin lgpics {
  height: 500px;
  width: 500px;
}

@mixin medpics {
	height: 450px;
	width: 400px;
}

@mixin smpics {
  height: 280px;
  width: 350px; 
}

/* CUSTOMIZE BKGS */
/* Grey, add padding to center content */
@mixin bggrey {
	background-color: $litegrey;
  padding-top: 50px !important;
	padding-bottom: 50px !important;
	padding-left: 65px !important;
	padding-right: 60px !important;	
}

@mixin bgsilver {
  background-color: $silver;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 65px !important;
  padding-right: 60px !important; 
}

/* White, add padding to center content */
/* Pad bottom to remove gap btwn content and footer section */
@mixin bgwhite {
	background-color: $white;
	padding-top: 50px !important;
  padding-bottom: 50px !important;
	padding-left: 65px !important;
	padding-right: 60px !important;
}

@mixin bgblue {
  background-color: $darkblue !important;
  color: $white;
  margin-top: 100px;
  height: 220px;
  
}

/* CUSTOMIZE BTNS */
/* Blue, white on hover, align center, for Learn More */
@mixin btnblue {
  margin: 15px 0;
  background-color: $darkblue !important;
  color: $white !important;
  margin: auto;
  font-family: $fontmain;
  &:hover {
    border: 1px solid $darkblue;
    background-color: $white !important;
    color: $darkblue !important;
  }
}

/* Green, no chg on hover, for Submit on forms */
@mixin btngreen {
  background-color: $green !important;
  font-family: $fontmain !important;
  font-size: 21px;
  font-weight: 300;
  width: 100%;
  margin-top: 25px;
}

/* White, to blue on hover, for carousel and footer */
@mixin btnwhite {
  color: $darkblue !important;
  background-color: $white !important;
  border-color: $white !important;
  font-family: $fontmain; 
  &:hover {
    border: 3px solid $white !important;
    background-color: $darkblue !important;
    color: $white !important;
  }
}

/* CUSTOMIZE ROWS */
/* Decrease row height */
@mixin shorten {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Increase row height */
@mixin lengthen {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Size logos */
@mixin logos {
  width: 100px;
  height: 100px; 
  margin-bottom: 10px;
}

/* Short horizontal line */
@mixin hrshort {
  width: 400px;
  border-color: $black !important;
  border-top: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px
}

/* Color error messages on forms */
@mixin colorerrors {
  color: $red;
}



