@import "variables.scss";
@import "mixins.scss";
@import "global.scss";

.navbar-default {
  background-color: $white;
  border-color: $white;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar.navbar-default.navbar-fixed-top {
  background-color: $white !important;
  border-color: $white !important;
  border-width: 1px;
}

/* Size Compass logo */
/* Position on left side */
.navbar-brand {
  height: 100px;
  width: 100px;
} 

/* Set bg color, center navbar on page */
/* Add padding to center text */
.navbar-nav {
  background-color: $white !important; 
  float: left;
}

.nav.navbar-nav {
  padding-top: 20px;
}
/* Set text font color */
.navlink, .navlink:hover {
  @include navtextcolor;
}

/* Set text color on dropdown */
.dropdown-toggle, .dropdown-toggle:hover {
  @include navtextcolor;
} 

/* Chg text and bg colors for drop-down on hover */
.navlink-inverse:hover {
  color: $white !important;
  background-color: $darkblue !important;
}

