@import "variables.scss";
@import "mixins.scss";
@import "global.scss";


/* Increse row height to add more space between rows */
.row {
  @include lengthen;
}

/* Reduce row height bwtn nav and first page headings */
.row.first {
  @include shorten;
}

/* Short horizontal line for headings */
.horz-short {
  @include hrshort;
}

/* CUSTOMIZE INDEX PG */
/* Style all paragraphs */
.lead {
  @include leadpara;
}

/* Size 3 circle images below carousel */
.img-responsive.center-block.img-circle.heading {
  width: 200px; 
  height: 200px;
}

/* Center heading title */
.elves {
  @include headingpara;
  text-align: center;
}
/* Size all imgs */
.img-responsive.img-circle.pull-left, .img-responsive.img-circle.pull-right {
  @include lgpics;
}

/* Style 3 container sections chg bg color, add padding */
.container-fluid.bg-white {
  @include bgwhite;
}

/* Style 3 container sections chg bg color, add padding */
.container-fluid.bg-silver {
  @include bgsilver;
}

/* For Learn More btns */
.btn.btn-more.center-block {
  @include btnblue;
}

/* CUSTOMIZE ABOUT PG */
/* Align section headings with images */
.col-md-4.about {
  padding-top: 5px;
}

/* JOURNEY, EVENTS, HELP PGS */
/* Align text heading with images */
.col-md-4 {
  padding-top: 20px;
} 

/* 2nd and 3rd descriptions, size and center logos */
.img-responsive.center-block.logo {
  @include logos;	
}

/* 6th description, align text headings with logos */
.transport {
	text-align: center;
}

/* 9th description, style quote for last paragraph */
 #reese {
   font-style: italic;
   font-weight: bold;
   text-align: center;
 }

/* CUSTOMIZE JOURNEY and ABOUT PGS */
/* Size medium imgs and align left */
.img-responsive.med.pull-left {
  @include medpics;
}

/* Size medium imgs and align right */
.img-responsive.med.pull-right {
  @include medpics;
}

/* Size small imgs and align right */
.img-responsive.sm.pull-right {
  @include smpics;
}

/* CUSTOMIZE HELP and EVENTS PGS */
/* Center text in smaller column */
.special {
  text-align: center;
  padding-top: 50px;
}





