

    <div class="col-md-6 col-md-offset-3">
      <h1 class="form-heading">Add A New Member</h1>
        <div class="form-inputs">

          <%= simple_form_for @member, validate: true do |f| %>

            <div class="errors">
              <% if @member.errors.any? %>
                <h2>There are <%= pluralize(@member.errors.count, "error") %></h2>
                  <ul>
                    <% @member.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  </ul>
              <% end %>
            </div>
            <div class="panel-body">
              <%= f.input :first_name, autofocus: true %>
              <%= f.input :last_name %>
              <%= f.input :address_one %>
              <%= f.input :address_two, placeholder: "Apt/Unit/Suite" %>
              <%= f.input :city %>
              <%= f.input :state, as: :radio_buttons, collection: Member::STATE_CHOICE, label: 'State' %>
              <%= f.input :zipcode %>
              <%= f.input :ph_primary, placeholder: "format xxx-xxx-xxxx" %>
              <%= f.input :ph_secondary, placeholder: "format xxx-xxx-xxxx" %>
              <%= f.input :email %>
            <%= f.submit "Submit", class: 'btn btn-success center-block' %>
          <% end %>
        </div>
      </div><!-- /.form-inputs -->
    </div><!-- /.col-md-6 col-md-offset-3 -->
  





