

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="heading member">New member has been added.</h1>
    </div>
  </div> 

  <div class="row confirm">
    <div class="col-md-6">
      <%= link_to 'Back', new_member_path, class: 'btn btn-primary pull-right' %> 
    </div>
    <div class="col-md-6">
      <%= link_to 'Edit', edit_member_path, class: 'btn btn-success pull-left' %> 
    </div>
  </div><!-- /.row -->  
</div><!-- /.container-fluid -->
